/* Основные настройки */

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 229);
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.navigation-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color:rgb(0, 0, 0);
}

.search-icon {
    width: 18px;
    height: 18px;
    background: url(../images/search.svg) no-repeat;
}

.favourites {
    width: 18px;
    height: 17px;
    background: url(../images/favourites.svg) no-repeat;
}

.button-wishlist {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(117, 98, 87);
    font-size: 16px;
}

.button-subscription {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(131, 179, 211);
}

.twitter {
    width: 18px;
    height: 15px;
    background: url(../images/twitter.svg) no-repeat;
}

.facebook {
    width: 10px;
    height: 18px;
    background: url(../images/facebook.svg) no-repeat;
}

.youtube {
    width: 20px;
    height: 16px;
    background: url(../images/youtube.svg) no-repeat;
}

.academia {
    width: 115px;
    height: 33px;
    background: url(../images/academia.svg) no-repeat;
}

.telephone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

/* Настройки первой страницы */

.mountains {
    background-image: url(../images/decor.svg),
                      url(../images/background1.png);
    background-repeat: no-repeat;
    background-size: 100% 57px, 100% 485px;
    background-position: center;
}

.white-color {
    background-color: rgb(255, 255, 255);
}

.place {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.reasons {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: rgb(51, 51, 51);
}

.light-blue {
    background-color: rgb(131, 179, 211);
}

.benefits {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
}

.descriptive-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
}

.informational-text {
    color: rgb(255, 255, 255);
    text-align: center;
}

.lodge {
    background-image: url(../images/lodge.svg);
    background-repeat: no-repeat;
    background-size: 75px 72px;
}

.dark-blue {
    width: 400px;
    height: 384px;
    background: rgba(131, 179, 211, 0.12);
    text-align: center;
}

.white-color-center {
    background: rgb(255, 255, 255) url(../images/burger.svg) no-repeat;
    background-size: 74px 70px;
    text-align: center;
}

.dark-blue-center {
    background: rgba(131, 179, 211, 0.2);
    text-align: center;
}

.description {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.gift {
    width: 64px;
    height: 76px;
    background: url(../images/gift.svg) no-repeat; 
}

.search-for-hotels {
    background: rgb(255, 255, 255);
}

.lupexperience {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.connection {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.search-for-hotels-in-sedona {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    color: rgb(255, 255, 255);
    background: rgb(117, 98, 87);
}

.form {
    width: 1200px;
    height: 411px;
    background: url(../images/background2.png) no-repeat;
    text-align: center;
}

/* Настройки второй страницы */

.blurred-rock {
    min-width: 1200px;
    min-height: 408px;
    background: url(../images/catalog-background.png) no-repeat;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: rgb(255, 255, 255);
}

.the-shack {
    width: 12px;
    height: 12px;
    background: url(../images/the-shack.svg) no-repeat;
}

li:not(:last-of-type)::after{ 
    width: 5px;
    height: 8px;
    background: url(../images/the-arrow.svg) no-repeat;
}

.text-hotels {
    font-size: 16px;
    line-height: 21px;
    color: rgb(255, 255, 255);
}

.catalog-filter-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: rgb(255, 255, 255);
}

.control-label {
    font-size: 18px;
    line-height: 23px;
    color: rgb(255, 255, 255);
}

.button-acceptance {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(131, 179, 211);
}

.button-reset {
    line-height: 23px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.background-for-the-catalog {
    background: rgb(255, 255, 255);
}

.hotels-found {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.squares {
    width: 16px;
    height: 14px;
    background: url(../images/squares.svg) no-repeat;
}

.button-carousel {
    width: 16px;
    height: 14px;
    background: url(../images/unidentified-object.svg) no-repeat;
}

.button-light {
    width: 16px;
    height: 14px;
    background: url(../images/list.svg) no-repeat;
}

.card-hotels-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: rgb(0, 0, 0);
}

.objects {
    line-height: 23px;
    color: rgb(51, 51, 51);
}

.price {
    line-height: 23px;
    color: rgb(51, 51, 51);
}

.button-detailed {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(117, 98, 87);
    text-transform: uppercase;
}

.link-favorites {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(131, 179, 211);
}

.four-stars {
    width: 91px;
    height: 17px;
    background: url(../images/four-stars.svg) no-repeat;
}

.rating {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    background: rgb(242, 242, 242);
}

.three-stars {
    width: 68px;
    height: 17px;
    background: url(../images/three-stars.svg) no-repeat;
}

.chosenness {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(125, 181, 79);
}

.two-stars {
    width: 18px;
    height: 17px;
    background: url(../images/two-stars.svg) no-repeat;
}

.button-loading {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(131, 179, 211);
}

.pagination-current {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgb(229, 229, 229);
}

.pagination-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(131, 179, 211);
}

.background-for-the-form {
    background: rgb(255, 255, 255);
    text-align: center;
}

.subscription {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.availability-of-hotels {
    line-height: 23px;
}

.interest {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: rgb(51, 51, 51);
}