.blurred-rock {
    min-width: 1200px;
    min-height: 408px;
    background: url(../images/for-hotel-catalog/washed-mountains2.png) no-repeat;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 2% 0 0 38px;
}

.grid-list {
    display: grid;
    grid-template-columns: 28px 85px;
    align-items: center;
}

.the-arrow {
    display: flex;
}

.the-arrow::after{ 
    display: block;
    content: "";
    width: 5px;
    height: 8px;
    background: url(../images/for-hotel-catalog/the-arrow.svg) no-repeat;
    margin-top: 7px;
}

.the-shack {
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(../images/for-hotel-catalog/the-shack.svg);
    background-repeat: repeat;
    background-size: 12px 12px;
    background-position: center;
    margin: 3px 10px 0 0;
}

.text-hotels {
    font-size: 16px;
    line-height: 21px;
    color: rgb(255, 255, 255);
    margin: 7px 0 0 10px;
}

.catalog-filter {
    display: grid;
    grid-template-columns: 200px 200px 420px 250px;
    margin: 50px 0 0 25px;
}

.catalog-filter-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: rgb(255, 255, 255);
}

.control {
    margin-left: -1%;
}

.control-label {
    font-size: 18px;
    line-height: 23px;
    color: rgb(255, 255, 255);
}

.moving-object {
    margin-left: 4%;
}

.location-control {
    margin-left: -4%;
}

.catalog-filter-group {
    margin-left: 100px;
}

.input-cost {
    width: 287px;
}

.range-toggle {
    width: 287px;
    margin-top: 10px;
}

.button-acceptance {
    margin: 20% 0 0 30%;
    width: 160px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background: rgb(131, 179, 211);
    color:rgb(255, 255, 255);
}

.button-reset { 
    margin: 10% 0 0 48%;
    line-height: 23px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.grid-of-hotels-found {
    display: grid;
    grid-template-columns: 350px 347px 503px;
}

.hotels-found {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin: 2% 0 0 45px;
}

.select-control {
    margin: 8% 0 0 180px;
}

.managing-icons {
    display: flex;
    margin: 5% 0 0 280px;
}

.squares {
    width: 16px;
    height: 14px;
    background: url(../images/for-hotel-catalog/squares.svg) no-repeat;
}

.indent {
    margin-right: 15px;
}

.button-carousel {
    width: 16px;
    height: 14px;
    background: url(../images/for-hotel-catalog/unidentified-object.svg) no-repeat;
}

.button-light {
    width: 16px;
    height: 14px;
    background: url(../images/for-hotel-catalog/list.svg) no-repeat;
}

.card-hotels {
    display: grid;
    grid-template-columns: 180px 550px 428px;
    margin: 5% 0 0 0;
}

.card-hotels-title {
    margin: -1% 0 0 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: rgb(0, 0, 0);
}

.objects {
    margin: 0.2% 0 0 20px;
    line-height: 23px;
    color: rgb(51, 51, 51);
}

.price {
    margin: -4% 0 0 175px;
}

.button-detailed { 
    display: block;
    margin: 9.1% 0 0 20px;
    width: 131px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(117, 98, 87);
    text-transform: uppercase;
}

.link-favorites {
    display: block;
    margin: -3.8% 0 0 175px;
    width: 131px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(131, 179, 211);
}

.four-stars {
    width: 91px;
    height: 17px;
    background: url(../images/for-hotel-catalog/four-stars.svg) no-repeat;
}

.rating {
    margin: 22% 0 0 205px;
    width: 160px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    background: rgb(242, 242, 242);
}

.three-stars {
    width: 68px;
    height: 17px;
    background: url(../images/for-hotel-catalog/three-stars.svg) no-repeat;
}

.chosenness {
    display: block;
    margin: -3.8% 0 0 175px;
    width: 131px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(125, 181, 79);
}

.two-stars {
    width: 18px;
    height: 17px;
    background: url(../images/for-hotel-catalog/two-stars.svg) no-repeat;
}

.button-loading {
    display: block;
    margin: 5% auto 1% auto;
    width: 625px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(131, 179, 211);
}

.hotel-transition-grid {
    display: grid;
    grid-template-columns: 380px 550px 270px;
}

.pagination {
    display: flex;
    margin-top: 40px;
}

.pagination-list-element {
    width: 55px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    background: rgb(242, 242, 242);
}

.pagination-current {
    color: rgb(0, 0, 0);
}

.pagination-item {
    width: 55px;
    margin: 0 5px 0 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    background-color: rgb(131, 179, 211);
}

.pagination-link {
    color:rgb(255, 255, 255);
}

.availability-of-hotels {
    margin: 8% 0 0 370px;
    line-height: 23px;
}

.select-control-list {
    margin: 17% 0 0 17%;
    width: 150px;
}

.descriptive-name-mailing-list {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 5% 0 0 0;
}

.informational-text-spam {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color:rgb(0, 0, 0);
}

.subscribe-form {
    text-align: center;
}