@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;  
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 229, 229);
}

a {
    text-decoration: none;
}

ol {
    list-style: none;
}

ul {
    list-style: none;
}

.grey-background {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 138px 1fr; 
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.navigation-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color:rgb(0, 0, 0);
}

.navigation-user {
    justify-self: end;
    max-width: 250px;
}

.search-icon {
    width: 18px;
    height: 18px;
    background: url(../images/general-images/search.svg) no-repeat;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.favourites {
    width: 18px;
    height: 17px;
    background: url(../images/general-images/favourites.svg) no-repeat;
}

.button-wishlist {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(117, 98, 87);
    font-size: 16px;
}

.white-color {
    background-color: rgb(255, 255, 255);
}

.button-subscription {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(131, 179, 211);
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 720px 1fr; 
}

.twitter {
    display: block;
    width: 18px;
    height: 15px;
    background: url(../images/general-images/twitter.svg) no-repeat;
}

.facebook {
    display: block;
    width: 10px;
    height: 18px;
    background: url(../images/general-images/facebook.svg) no-repeat;
}

.youtube {
    display: block;
    width: 20px;
    height: 16px;
    background: url(../images/general-images/youtube.svg) no-repeat;
}

.telephone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.the-academy {
    justify-self: end;
}

.academia {
    display: block;
    width: 115px;
    height: 33px;
    background: url(../images/general-images/academia.svg) no-repeat;
}

